*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: aqua;
    font-size: 10rem;
    font-weight: bold;
    font-family: sans-serif;
}

